@model PageResult<UserEntity>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Layouts/_LayoutMain.cshtml";
}

<div class="content-wrapper">
    <div class="content">

        <div class="breadcrumb-wrapper">
            <h1>Kullanıcılar</h1>
        </div>

        <div class="row">
            <div class="col">
                <div class="card card-default">
                    <div class="card-header justify-content-between align-items-center">
                        <h2>Kullanıcılar</h2>
                        <a href="/admin/users/new" class="btn btn-primary btn-pill"> + Ekle </a>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Created At</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.List)
                                {
                                    <tr>
                                        <td scope="row">@item.Id</td>
                                        <td><a href="">@item.FullName</a></td>
                                        <td><a href="/admin/pages/@item.Id">@item.Email</a></td>
                                        <td>@item.Roles.FirstOrDefault().Role</td>
                                        <td>@item.CreatedAt.ToString("dd MMMM yyyy")</td>
                                        <td class="text-right">
                                            <div class="dropdown show d-inline-block widget-dropdown">
                                                <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                                                    <li class="dropdown-item">
                                                        <a href="#">
                                                            <i class="mdi mdi-eye"></i>
                                                            Detaylar
                                                        </a>
                                                    </li>
                                                    <li class="dropdown-item danger">
                                                        <a href="#">
                                                            <i class="mdi mdi-delete"></i>
                                                            Sil
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <pagination current-page="@Model.CurrentPage" total-page-count="@Model.TotalPageCount" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>