@using UI.Areas.Admin.Models.Base

@model ListPageViewModel<PageEntity>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Layouts/_LayoutMain.cshtml";
}

<div class="content-wrapper">
    <div class="content">

        <div class="breadcrumb-wrapper">
            <h1>Sayfalar</h1>
        </div>

        <error-message model="@Model" />

        <div class="row">
            <div class="col">
                <div class="card card-default">
                    <div class="card-header justify-content-between align-items-center">
                        <h2>Dinamik Sayfalar</h2>
                        <a href="/admin/pages/new" class="btn btn-primary btn-pill"> + Ekle </a>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Slug</th>
                                        <th scope="col">Created At</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.List)
                                    {
                                        <tr>
                                            <td scope="row">@item.Id</td>
                                            <td><a href="/admin/pages/@item.Id">@item.Title</a></td>
                                            <td><a href="">/@item.Slug</a></td>
                                            <td>@item.CreatedAt.ToString("dd MMMM yyyy")</td>
                                            <td class="text-right"><a class="btn btn-danger btn-sm" href="/admin/pages/delete/@item.Id" role="button" onclick="return confirm('Bu sayfayı silmek istediğinize emin misiniz?')"> Sil </a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            @if (Model.List.Count == 0)
                            {
                                <div class="empty-state">
                                    Herhangi bir sonuç bulunamadı
                                </div>
                            }
                        </div>

                        <pagination current-page="@Model.CurrentPage" total-page-count="@Model.TotalPageCount" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <toastr model="@Model" />
}